* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
} 

body {
  background-color: rgba(227,226,221);
}

.header {
  height: 100px;
  margin: 0 auto;
}

h1 {
  color: rgb(45,22,23);
  font-family: 'Bangers', cursive;
  font-size: 80px;
  line-height: .25;
  margin: 100px 0 25px 0;
}

.with {
  color: rgb(45,22,23);
  font-family: 'Bangers', cursive;
  font-size: 40px;
  line-height: .5;
  display: inline;
  padding: 0px 25px;
}

h2 {
  color: rgb(45,22,23);
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  line-height: .5;
  display: inline;
}

.Slider {
  width: 50%;
  margin: 50px auto;
  background-color: rgba(255,255,255,0.5);
  padding: 50px;
  border-radius: 10px;
}

.quote {
  padding: 10px;
  font-weight: normal;
}